obj/Debug/netcoreapp3.1/krogCS.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/krogCS.assets.cache
.vscode/launch.json
.vscode/tasks.json
KrogCS/KrogCS.csproj
KrogCS/bin/Debug/netcoreapp3.1/KrogCS.deps.json
KrogCS/bin/Debug/netcoreapp3.1/KrogCS.dll
KrogCS/bin/Debug/netcoreapp3.1/KrogCS.pdb
KrogCS/bin/Debug/netcoreapp3.1/Microsoft.Msagl.dll
KrogCS/bin/Debug/netcoreapp3.1/Microsoft.Msagl.Drawing.dll
KrogCS/obj/KrogCS.csproj.nuget.cache
KrogCS/obj/KrogCS.csproj.nuget.dgspec.json
KrogCS/obj/project.assets.json
KrogCS/obj/Debug/netcoreapp3.1/KrogCS.assets.cache
KrogCS/obj/Debug/netcoreapp3.1/KrogCS.csproj.CopyComplete
KrogCS/obj/Debug/netcoreapp3.1/KrogCS.csproj.FileListAbsolute.txt
KrogCS/obj/Debug/netcoreapp3.1/KrogCS.csprojAssemblyReference.cache
KrogCS/obj/Debug/netcoreapp3.1/KrogCS.dll
KrogCS/obj/Debug/netcoreapp3.1/KrogCS.pdb
obj/krogCS.csproj.nuget.cache
obj/krogCS.csproj.nuget.dgspec.json
obj/project.assets.json
obj/Debug/netcoreapp3.1/krogCS.assets.cache
obj/Debug/netcoreapp3.1/krogCS.csprojAssemblyReference.cache
